DP_FORCE_YTDL_MOD="@distube/ytdl-core"
FFMPEG_PATH=/usr/bin/ffmpeg
YOUTUBE_AUTH="access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJESlN0b21wWm9uZSIsImlhdCI6MTcyNzYzMDk5NywiZXhwIjoxNzU5MTY2OTk3LCJhdWQiOiJodHRwczovL2dpdGh1Yi5jb20iLCJzdWIiOiJ1c2VyQGdpdGh1Yi5jb20iLCJHaXZlbk5hbWUiOiJESiIsIlN1cm5hbWUiOiJTdG9tcCIsIkVtYWlsIjoiODU0NTczODErREpTdG9tcFpvbmVAdXNlcnMubm9yZXBseS5naXRodWIuY29tIiwiUm9sZSI6IkZvdW5kZXIiLCJPcmdhbml6YXRpb24iOiJTdG9tcFpvbmUifQ.bhvKUwOEdMtoWE6MFCddbkWk1E1ceknanuaJyZpmv8Q; scope=https://www.googleapis.com/auth/youtube-paid-content https://www.googleapis.com/auth/youtube; token_type=Bearer; expiry_date=2024-04-20T04:20:00.000Z"
DISCORD_TOKEN=MTI4NTgzNjc5Nzc2Njc5OTQ3Mg.Gpx38Q.RQo7vdlhYqype4kiPaGIi5TsT3qbbti7kooF_U